@mixin hover_animation_card{
    .test,
    .card_left,
    .fa-circle-check {
        animation-duration: 4s;
        // animation-duration: 2s;
        animation-fill-mode: forwards;
        transform-origin: right;
    }   

    .test {
        animation-name: test_animation;
        
        @keyframes test_animation {
            0%{
                transform: scaleX(0);
                width:0%;
            }

            60%{
                transform: scaleX(1.1);
                width:22%;
            }

            100%{
                transform: scaleX(1);
                width:20%;
            }
        }
    }

    .card_left {
        animation-name: card_left_width;

        @keyframes card_left_width {

            0%{
                width:85%;
            }

            60%{
                width: calc(100% - (22% + 15%));
            }

            100%{
                width:65%;
            }
        }
    }

    .fa-circle-check{
        display:inline-block;
        animation-name: icon_rotation;
        transform-origin: center;

        @keyframes icon_rotation{
            0%{
               transform: rotateZ(0deg);
            }
           
            100%{
                transform: rotateZ(360deg);
            }
        }
    }
}
