@mixin hover_animation_card{
    .test,
    .card_left,
    .fa-circle-check,
    .card_right_dish_price {
        animation-duration: 5s;
        // animation-duration: 2s;
        animation-fill-mode: forwards;
        transform-origin: right;
    }   

    .card_right_dish_price{
        animation-name:card_right_dish_price_animation;

        @keyframes card_right_dish_price_animation{
            0%{
                transform: translateX(1.5rem);
            }

            100% {
                transform: translateX(0px);
            }
        }
    }
    
    .test {
        animation-name: test_animation;
        
        @keyframes test_animation {
            0% {
                transform: translateX(1.5rem);
                width: 0%;
                padding-left:1.5rem;
            }
            
            60% {
                width: 22%;
            }
            
            100% {
                transform: translateX(0px);
                width: 20%;
                padding-left: 0px;
            }
        }
    }

    
    .card_left {
        animation-name: card_left_width;
        
        @keyframes card_left_width {
            
            0%{
                width:85%;
            }
            
            60%{
                width: calc(100% - (22% + 15%));
            }
            
            100%{
                width:65%;
            }
        }
    }

    .fa-circle-check {
        animation-name: icon_rotation;
        display: inline-block;
        transform-origin: center; //50% 50% --> X Y

        @keyframes icon_rotation {
            
            0% {
                transform: rotateZ(0deg);
            }


            100%{
                transform: rotateZ(360deg);
            }
        }
    }
}





// .fa-circle-check{
    //     animation-name: fa-circle-check_translate;
    
    //     @keyframes fa-circle-check_translate{
    //         0%{
    //             transform: translateX(-20px);
    //         }

    //         100%{
    //             transform: translateX(0px);
    //         }
    //     }
    // }


    // .card_right_dish_price{
    //     animation-name: icon_translate;

    //     @keyframes icon_translate{
            
    //         0% {
    //             transform: translateX(4rem);
    //         } 
    //     }
    // }