
.cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 0.8rem;
}    
    
.card {
    @include flex_center;
    align-items: flex-end;  
    width: 100%;
    height: 70px;
    background: $menu_card_bg;
    border-radius: 15px;
    box-shadow: $box-shadow;
    overflow: hidden;
    
    &:hover{
        box-shadow: $box-shadow_gradient;
        @include hover_animation_card;
        // @include hover_animation_checked;
    }
}

// .card:hover > input[type="checkbox"]:checked{
//     animation-name: card_width_animation;
//     animation-duration: 2s;

//     @keyframes card_width_animation {
//         0%{
//             max-width: calc(100% - 1.6rem);
//         }

//         100%{
//             max-width: 100%;
//         }
//     }
// }


.card_left{
    @include flex_center_column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.3rem 0;
    width:85%;
    height: 100%;
    padding: 0.8rem 0 0.8rem 0.6rem;
    white-space: nowrap;
    
    &_top_dish_name {
        width:100%;
        font-size: 1.1rem;
        font-weight: $font_bold;
        text-overflow: ellipsis; // ...
        overflow: hidden;
    }

    &_bottom_side_dish{
        width:100%;
        font-size:0.9rem;
        font-weight: $font_light;
        text-overflow: ellipsis; // ...
        overflow: hidden;
    }   
}   

.card_right_dish_price{
    width:15%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.8rem 1rem 0.8rem 0rem;
    font-weight: $font_bold;
}

@mixin mixin_test{
    position:relative;
    height:70px;
    background: $tertiary_color;
    @include flex_center;
    
    .fa-circle-check{
        position: absolute;
        display:inline-block;
        font-size:1.9rem;
        color:#fff;
    }
}

.test{
    @include mixin_test;
}


@mixin mixin_test_checked{
    @include flex_center;
    background: darken($tertiary_color, 10);
    .fa-circle-check{
        @include card_checked;
        @include linear_gradient_icons;
    }
}


input[type="checkbox"]
// ,
// input[type="checkbox"]:checked   //pkoi ne fonctionne pas?
{
    display: none;
}

input[type="checkbox"]:checked~label{   //dev bg red when checked
    @include mixin_test_checked;
}

input[type="checkbox"]:checked~.test{
   width:20%;
}

input[type="checkbox"]:checked + .card_left{
    width:65%;
    pointer-events: none;
}             
 
    
// @mixin card_pe{
    
//     .card{
//         pointer-events: none;
//     }
// }

// input[type="checkbox"],
// input[type="checkbox"]:checked{
//     display: none;
//     opacity:0;
// }

// input[type="checkbox"]:checked  + .fa-circle-check{
//     display: inline-block;
//     @include card_pe;
// }

// input[type="checkbox"]:checked{
//     @include mixin_test_checked;
// }

// input[type="checkbox"]:checked + .card{
//     pointer-events: none;
// }

// // input[type="checkbox"]:checked  + .card_left{
// //     width:65%;
// // }